<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/img/logo-mini.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <nav class="menu-bar">
        <img src="/img/logo-mini.png" alt="logo">
        <ul class="menu-options">
            <li><a href="/">accueil</a></li>
        </ul>
    </nav>


    <main>
        <section class="container">
            <h1>Mauvaise requête !</h1>
            <hr>
            <p>
                Votre commande ne peut pas être soumis dû à une erreur de requête
                lors de la recupération des champs du formulaire.<br>
                Veuillez revenir à l'accueil.
            </p>
        </section>
    </main>
</body>
</html>