<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/img/logo-mini.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <nav class="menu-bar">
        <img src="/img/logo-mini.png" alt="logo">
        <ul class="menu-options">
            <li><a href="/">accueil</a></li>
        </ul>
    </nav>
    
    
    <main>
        <section class="container">
            <h2>Page n'est pas trouvée !</h2>
            <hr>
            <p class="img-err-conf">
                <img src="/img/magnifying-glass-icon.png" alt="magnifying-glass">
            </p>
            <p>
                La page que vous essayé d'accéder n'existe pas ou a été déplacée.<br>
                Veuillez revenir à l'accueil.
            </p>
            <footer>
                <small>
                    <a href="https://www.flaticon.com/free-icons/problem" title="problem icons">© Problem icons created by Smashicons - Flaticon</a>
                </small>
            </footer>
        </section>
    </main>
    
</body>
</html>
