<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="shortcut icon" href="/img/logo-mini.png" type="image/x-icon">
    <title>Lunch Écolier</title>
</head>
<body>

    <nav class="menu-bar">
        <img src="/img/logo-mini.png" alt="logo">
        <ul class="menu-options">
            <li><a href="/">accueil</a></li>
            <li><a href="/informations">informations</a></li>
            <li><a href="/contact" class="active">contact</a></li>
            <li><a href="/commande">commande</a></li>
        </ul>
    </nav>

    <main>
        <section class="container">
            <h2>contact</h2>
            <hr>
            <p>
                Pour toutes questions ou si vous souhaitez avoir des informations 
                complémentaires, vous pouvez nous contacter par téléphone au 
                <a href="tel:4508885656">(450) 888-5656</a>, par courriel au 
                <a href="mailto:lunch.ecolier@gmail.com">lunch.ecolier@gmail.com</a>
                ou en personne à l'<a href="#adresse" class="intern">adresse</a> 
                indiquée ci-dessous.
                <br>
                Nous serons ravis de vous répondre le plus vite possible.
            </p>
            <h3>Nos heures d'ouverture</h3>
            <p>
                Lundi au Mercredi : 8h - 18h<br>
                Jeudi et Vendredi : 10h - 17h<br>
                Fin de semaine : --
            </p>
            <h3 id="adresse">Adresse</h3>
            <p>
                123 rue de la Gauchetière,<br>
                Montréal, QC, CA<br>
                H4P 6Z6
            </p>
        </section>
    </main>

</body>
</html>
