<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="shortcut icon" href="/img/logo-mini.png" type="image/x-icon">
    <title>Lunch Écolier</title>
</head>
<body>
    
    <nav class="menu-bar">
        <img src="/img/logo-mini.png" alt="logo">
        <ul class="menu-options">
            <li><a href="/" class="active">accueil</a></li>
            <li><a href="/informations">informations</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/commande">commande</a></li>
        </ul>
    </nav>
    
    <main>
        <section class="container">
            <h2>accueil</h2>
            <hr>
            <p>
                <img src="/img/lunch-bag-smily-icon.png" alt="smily-lunch-bag" class="icon">
                <footer>
                    <small>
                        <a href="https://www.flaticon.com/free-icons/lunch-bag" title="lunch bag icons">© Lunch bag icons created by Freepik - Flaticon</a>
                    </small>
                </footer>
                Chers clients / parents,
                <br><br>
                Nous avons le plaisir d'être le traiteur de lunch écolier de 
                vos enfants. Nous offrant des repas chauds et équilibrés dans 
                les écoles primaires des régions de Montréal, Laval et 
                Montérigie.
                <br><br>
                Nous valorisons l'alimentation saine et nous faisons tout 
                l'effort nécessaire pour préparer des repas de qualité, 
                saines, nutritifs et équilibrés.
            </p>
        </section>
    </main>

</body>
</html>
