<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="shortcut icon" href="/img/logo-mini.png" type="image/x-icon">
    <title>Lunch Écolier</title>
</head>
<body>

    <nav class="menu-bar">
        <img src="/img/logo-mini.png" alt="logo">
        <ul class="menu-options">
            <li><a href="/">accueil</a></li>
            <li><a href="/informations" class="active">informations</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/commande">commande</a></li>
        </ul>
    </nav>

    <main>
        <section class="container">
            <h2>informations</h2>
            <hr>
            <h3>Qui sommes-nous ?</h3>
            <p>
                Le Lunch Écolier est un service dédié à la fourniture de plats maison
                sains et gastronomiques destiné aux écoles primaires des régions de 
                Montréal, Laval et Montérigie. Nos repas sont adaptés aux besoins 
                des écoles de ces régions. Nous mettons tout en oeuvre pour préparer
                des plats à la hauteur de vos attentes et pour veiller au 
                bien-être de vos enfants.
            </p>

            <h3>Nos services</h3>
            <p>
                Notre missions c'est de préparer des repas santé style maison tout 
                en offrant un service exceptionnel. Pour cela, nous offrons :
                <ul>
                    <li>Des repas de qualité, sains, nutritifs et équilibrés</li>
                    <li>Des ingrédients fraîches et de première qualité</li>
                    <li>Des repas servis chaud aux écoles</li>
                    <li>Deux options de repas par jour</li>
                </ul>
            </p>
        </section>
    </main>

</body>
</html>
